<%- include("../elements/header.ejs") %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js" integrity="sha512-SuxO9djzjML6b9w9/I07IWnLnQhgyYVSpHZx0JV97kGBfTIsUYlWflyuW4ypnvhBrslz1yJ3R+S14fdCWmSmSA==" crossorigin="anonymous"></script>
<script>let dataentries = '<%- dataset %>';</script>
<script>let datalabels = '<%- timeperiod %>'</script>

</head>

<body>
    <%- include("../elements/sidebar-user.ejs") %>

    <%- include("../elements/topbar-internal.ejs") %>

    <div class="main-body">
        <div class="dash-line dash-line-1">
            <div class="cont-h cont-welcome cont-hover">
                <div class="cont-welcome-txt">
                    <div>Welcome, <%= userName %> <%= userSurname %></div>
                    <div><a href="/dashboard/account" class="linkNoStyle"><div class="white-bg-btn">Your Account</div></a></div>
                </div>
                <div class="cont-welcome-img"><img src="/files/il-3.svg" alt="img" /></div>
            </div>
            <div class="cont-h cont-date cont-shadow cont-hover">
                <div class="cont-date-title"><img src="/files/calendar-icon.png" alt="calendar" /></div>
                <div class="cont-date-date"><%= dateToday %></div>
            </div>
        </div>

        <div class="dash-line dash-line-3">
            <% if(noOfEntries > 0) { %>
                <div class="cont-shadow cont-hover cont-summ">
                    <div class="align-cont-summ">
                        <div>Today, you have added...</div>
                        <div class="no-entries-dash"><%- noOfEntries %> entries</div>
                        <div>
                            <div><a href="/dashboard/user/entries/review" class="linkNoStyle"><div class="v-bg-btn">Review Your Entries</div></a></div>
                        </div>
                    </div>
                    <div>
                        <img src="/files/il-18.svg" alt="entryicon">
                    </div>                    
                </div>
            <% } else if (noOfEntries == 0) { %>
                <div class="cont-shadow cont-hover cont-summ">
                    <div class="no-entries-yet align-cont-summ">
                        <div class="no-entries-yet-title">You have not added your daily entry yet</div>
                        <div><small>Please press the button below to add a new entry...</small></div>
                        <div>
                            <div><a href="/dashboard/user/entries/add" class="linkNoStyle"><div class="v-bg-btn">Add New Entry</div></a></div>
                        </div>
                    </div>
                    <div>
                        <img src="/files/il-18.svg" alt="entryicon">
                    </div>                    
                </div>
            <% } %>
        </div>

        <div class="dash-line dash-line-2" style="padding-top: 0.1rem;">
            <div class="cont-h cont-2 cont-shadow cont-first">
                <div class="min-cont-desc">You added</div>
                <div class="cont-no"><%- noOfEntries %></div>
                <% if(noOfEntries == 1) { %>
                    <div class="min-cont-desc">entry today</div>
                <% } else { %>
                    <div class="min-cont-desc">entries today</div>
                <% } %>
            </div>
            <div class="cont-h cont-2 cont-shadow cont-middle">
                <div class="min-cont-desc">You have been active</div>
                <div class="cont-no">3</div>
                <div class="min-cont-desc">days in a row</div>
            </div>
            <div class="cont-h cont-2 cont-shadow cont-last">
                <div class="min-cont-desc">You added</div>
                <div class="cont-no"><%- noOfEntriesTillNow %></div>
                <% if(noOfEntries == 1) { %>
                    <div class="min-cont-desc">entries in total</div>
                <% } else { %>
                    <div class="min-cont-desc">entries in total</div>
                <% } %>
            </div>
        </div>

        <div class="dash-line dash-line-3">
            <div class="main-graph-cont cont-shadow">
                <div id="graph-title">Your activity:</div>
                <canvas id="usage-graph"></canvas>
            </div>
        </div>
    </div>

    <script>
        $("#dash-element").addClass("active-sidebar-element");
    </script>
    <script type="text/javascript" src="\scripts\dashboard-user-script.js"></script>
</body>

</html>