<%- include("../elements/header.ejs") %>
<link rel="stylesheet" types="text/css" href="/styles/entries-styles.css" />
<script src="https://cdn.jsdelivr.net/npm/file-saver@2.0.2/dist/FileSaver.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.0/xlsx.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js" integrity="sha512-SuxO9djzjML6b9w9/I07IWnLnQhgyYVSpHZx0JV97kGBfTIsUYlWflyuW4ypnvhBrslz1yJ3R+S14fdCWmSmSA==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
</head>

<body class="entry-body">
    <%- include("../elements/sidebar-user.ejs") %>

    <%- include("../elements/topbar-internal.ejs") %>
<div class="main-body">
    <div>
        <div class="title-wrapper">
            <div class="title-with-border">
                <div>Review your entries</div>
                <div class="title-line"></div>
            </div>
        </div>

        <div class="browse-cont browse-user-cont">
            <div class="sub-browse">
                <div class="browse-label">Title:</div>
                <div class="sub-browse-align">
                    <input type="text" class="form-control" name="entry-title" id="entry-title" placeholder="Entry title..." />
                    <button type="button" class="btn btn-sm btn-secondary" id="browse-title">
                        <img src="/files/magni-glass-icon.png" alt="search" />
                    </button>
                </div>
            </div>
            <div class="sub-browse">
                <div class="browse-label">Date:</div>
                <div class="sub-browse-align">
                    <input type="date" class="form-control" name="entry-date" id="entry-date" />
                    <button type="button" class="btn btn-sm btn-secondary" id="browse-date">
                        <img src="/files/magni-glass-icon.png" alt="search" />
                    </button>
                </div>
            </div>
            <div class="sub-browse date-range">
                <div class="browse-label">Date range:</div>
                <div class="date-range-align">
                    <input type="date" class="form-control" name="entry-date-from" id="entry-date-from" />
                    <input type="date" class="form-control" name="entry-date-to" id="entry-date-to" />
                    <button type="button" class="btn btn-sm btn-secondary" id="browse-range">
                        <img src="/files/magni-glass-icon.png" alt="search" />
                    </button>
                </div>
            </div>
            <div class="browse-reset">
                <button type="button" class="btn btn-sm btn-dark" id="reset-btn">
                    <img src="/files/reset-icon.png" alt="search" />
                </button>
            </div>
        </div>

        <div class="down-cont">
            <div class="down-cont-spreadsheet">
                <button type="button" class="btn btn-sm btn-light" id="spreadsheet-down">
                    <img src="/files/spreadsheet-icon.png" alt="spreadsheet" />
                    Download Spreadsheet
                </button>
            </div>
            <div class="down-cont-disabled">
                <a href="/dashboard/user/entries/archive" class="linkNoStyle">
                    <button type="button" class="btn btn-sm btn-light" id="disabled-entries">
                        <img src="/files/disabled-icon.png" alt="spreadsheet" />
                        Review archived entries
                    </button>
                </a>
            </div>
        </div>

        <div class="table-cont">
            <table class="table table-hover">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col"><strong>#</strong></th>
                    <th scope="col">Date</th>
                    <th scope="col">Title</th>
                    <th scope="col">Overview</th>
                    <th scope="col">Your Notes</th>
                    <th scope="col">Archive</th>
                    <th scope="col" style="width:10%">Download</th>
                  </tr>
                </thead>
                <tbody id="entries-body">
                    <% for(let i=0; i < entries.length; i++) { %>
                        <tr>
                            <input type="hidden" class="enid" value="<%= entries[i].id %>" />
                            <td class="e-no"><strong><%= eval(i+1) %></strong></td>
                            <td class="e-date"><%= entries[i].date.toISOString().slice(0,10) %></td>
                            <% if(entries[i].title.length > 18) { %>
                                <td class="e-title"><%= (entries[i].title).slice(0, 17) %>...</td>
                            <% } else { %>
                                <td class="e-title"><%= entries[i].title %></td>
                            <% } %>

                            <% if(isSystemUser) { %>
                                <td class="e-summary"><a class="linkNoStyle" href="/dashboard/user/entries/sys/<%= entries[i].id %>"><button class="btnGradBlueSm margin-auto">Overview</button></a></td>
                            <% } else { %>
                                <td class="e-summary"><a class="linkNoStyle" href="/dashboard/user/entries/ind/<%= entries[i].id %>"><button class="btnGradBlueSm margin-auto">Overview</button></a></td>
                            <% } %>

                            <td class="e-notes">
                                <% if(entries[i].usernotes != "" && entries[i].usernotes != null) { %>
                                    <button class="btnGradPurpleSm margin-auto notesBtn" value="<%= entries[i].id %>">Notes</button>
                                <% } else {  %>
                                    <button class="addNotesBtn btnNoStyle">
                                        <img src="/files/plus-icon-btn-2.png" alt="Button">
                                        <input type="hidden" class="eid" value="<%= entries[i].id %>" />
                                    </button>
                                    <input type="hidden" class="eid" value="<%= entries[i].id %>" />
                                <% } %>
                            </td>
                            <td class="e-disable">
                                <button class="btnGradDarkSm margin-auto disableBtn" value="<%= entries[i].id %>">
                                    Archive
                                </button>
                            </td>
                            <td class="e-pdf">
                                <div class="pdf-btn">
                                    <img src="/files/pdf-icon.png" alt="pdf" />
                                </div>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="popup-background"></div>

<script>
    $("#review-entry-element").addClass("active-sidebar-element");
</script>
<script type="text/javascript" src="/scripts/entries/download-pdf-users.js"></script>
<script type="text/javascript" src="/scripts/browsing-fields.js"></script>
<script type="text/javascript" src="/scripts/close-popup.js"></script>
<script type="text/javascript" src="/scripts/entries/add-notes.js"></script>
<script type="text/javascript" src="/scripts/entries/review-entries-user.js"></script>
<script type="text/javascript" src="/scripts/entries/download-spreadsheet-users.js"></script>
</body>

</html>