<%- include("../../elements/header.ejs") %>
<link rel="stylesheet" types="text/css" href="/styles/entries-styles.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js" integrity="sha512-SuxO9djzjML6b9w9/I07IWnLnQhgyYVSpHZx0JV97kGBfTIsUYlWflyuW4ypnvhBrslz1yJ3R+S14fdCWmSmSA==" crossorigin="anonymous"></script>
<script>let mainpred = '<%- mainpredictions %>'; </script>
<script>let sentencespred ='<%- sentencespredictions %>'; </script>
<script>let files = '<%- files %>';</script>
</head>

<body class="entry-body">
    <% if(isSystemUser || isIndUser) { %>
        <%- include("../../elements/sidebar-user.ejs") %>
    <% } else { %>
        <%- include("../../elements/sidebar-specialist.ejs") %>
    <% } %>

    <%- include("../../elements/topbar-internal.ejs") %>

    <div class="main-body entry-pad">

        <div class="title-wrapper">
            <div class="title-with-border">
                <div><%- entry.title %></div>
                <div class="title-line"></div>
            </div>
        </div>

        <div class="entry-cont summary-entry-cont">
            <div class="entry-author">
                <div class="summary-title">&#8226; Author: <span class="p-dark"><%- entry.SystemUser.name + " " + entry.SystemUser.surname %></span></div>
            </div>

            <div class="entry-date">
                <div class="summary-title">&#8226; Date and time: <span class="p-dark"><%- entry.date + " " + entry.time.slice(0, 5) %></span></div>
            </div>

            <div class="entry-content">
                <div class="summary-title">&#8226; Content of the entry:</div>
                <div class="entry-content-txt">
                    <%- entry.contentHtml %>
                </div>
            </div>

            <div class="entry-main-emotion">
                <div class="summary-title">&#8226; The main detected emotion is:</div>
                <div class="entry-main-emotion-lbl" id="detected-emotion-class">
                    <%- entry.UserEntryResult.emotion %>
                </div>
            </div>

            <div class="align-chart align-chart-sm">
                <canvas id="piechart"></canvas>
            </div>

            <div class="detected-main-emotions" style="list-style-type:circle;">
                <ul class="detected-main-emotions-list">
                    <% for (let pred of mpred) { %>
                        <li><span class='emotion-list-title'><%- (pred.emotion).charAt(0).toUpperCase() + (pred.emotion).slice(1) %>: </span><%- pred.percentage %> %</li>
                    <% } %>
                </ul>
            </div>

            <div>
                <div class="summary-title">&#8226; Emotion classes detected in individual sentences:</div>
            </div>

            <div class="align-chart align-chart-sm">
                <canvas id="sentenceschart"></canvas>
            </div>

            <% if(entry.usernotes != null && entry.usernotes != "") { %>
                <div>
                    <div class="summary-title">&#8226; User's notes:</div>
                </div>

                <div class="add-note-cont align-notes-cont">
                    <%- entry.usernotes %>
                </div>
            <% } %>

            <% if(entry.SpecialistComment != null && entry.SpecialistComment.comment != "") { %>
                <div>
                    <div class="summary-title">&#8226; Your comments:</div>
                </div>

                <div class="comm-cont align-notes-cont">
                    <%- entry.SpecialistComment.comment %>
                </div>
            <% } %>

            <% if(filesLength > 0) { %>
                <div>
                    <div class="summary-title">&#8226; Attached files:</div>
                </div>

                <div class="frames-group">
                    <% for(let i = 0; i < entry.UserEntryFiles.length; i++) { %>
                        <iframe class="alignframe" id="file<%- i %>" src=""></iframe>
                    <% } %>
                </div>

                <div class="files-download-container">
                    <div class="summary-title">&#8226; Download files:</div>
                </div>

                <div class="buttons-group">
                    <% for(let i = 0; i < entry.UserEntryFiles.length; i++) { %>
                        <form method="POST" action="/dashboard/specialist/entries/file">
                            <button type="submit" class="btn btn-primary">
                                <img class="btnicon" src="/files/multimedia-download.png" alt="icon" />
                                File <%- (i+1) %>
                            </button>
                            <input type="hidden" value="<%- entry.UserEntryFiles[i].id %>" name="fileid" />
                        </form>
                    <% } %>
                </div>
            <% } %>

            <div class="review-entries">
                <a class="linkNoStyle" href="/dashboard/specialist/entries/review">
                    <button class="btnGradBlue margin-auto">Review All Entries</button>
                </a>
            </div>
        </div>
    </div>
    <div id="popup-background"></div>

<script type="text/javascript" src="/scripts/close-popup.js"></script>
<script type="text/javascript" src="/scripts/entries/append-chart.js"></script>
<script type="text/javascript" src="/scripts/entries/entry-summary.js"></script>
<script>
    $(document).ready(() => {
        files = JSON.parse(files);
        for(let i = 0; i < files.length; i++) {
            try {
                $(`#file${i}`).prop("src", "/temp/" + files[i]);                
            } catch(error) {
                console.log(error);
            };
        }
    });
</script>
</body>

</html>