<%- include("../../elements/header.ejs") %>
<link rel="stylesheet" types="text/css" href="/styles/entries-styles.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js" integrity="sha512-SuxO9djzjML6b9w9/I07IWnLnQhgyYVSpHZx0JV97kGBfTIsUYlWflyuW4ypnvhBrslz1yJ3R+S14fdCWmSmSA==" crossorigin="anonymous"></script>
<script>let dataset = '<%- dataset %>';</script>
<script>let datalabels = '<%- labels %>';</script>
<script>let freqdata = '<%- frequencyset %>';</script>
</head>

<body class="entry-body">
    <% if(isSystemUser || isIndUser) { %>
        <%- include("../../elements/sidebar-user.ejs") %>
    <% } else { %>
        <%- include("../../elements/sidebar-specialist.ejs") %>
    <% } %>

    <%- include("../../elements/topbar-internal.ejs") %>

    
    <div class="main-body entry-pad">

        <div class="title-wrapper">
            <div class="title-with-border">
                <div><%- mainTitle %></div>
                <div class="title-line"></div>
            </div>
        </div>

        <div class="browse-cont disabled-cont browse-journey">
            <div class="browse-reset">
                <a class="linkNoStyle" href="/dashboard/specialist/entries/reports">
                    <button type="button" class="btn btn-sm btn-dark" id="reset-btn">
                        Generate Report
                    </button>
                </a>
            </div>
            
        </div>
        <div class="align-sm-txt">
            <small>Please press the button above to go back to the "Generate Report" page.</small>
        </div>

        <div class="entry-cont summary-entry-cont journey-cont">

            <div class="entry-date">
                <div class="summary-title">&#8226; Time period: <span class="p-dark"><%- dateFrom + " - " + dateTo %></span></div>
            </div>

            <div class="entry-date">
                <div class="summary-title">&#8226; Assigned user: <span class="p-dark"><%- user.name + " - " + user.surname %></span></div>
            </div>

            <div class="line-chart-align">
                <canvas id="line-chart"></canvas>
            </div>

            <div class="dash-line dash-line-2" style="padding-top: 0.1rem;">
                <div class="cont-h cont-2 cont-shadow cont-first">
                    <div class="min-cont-desc">User added...</div>
                    <div class="cont-no"><%- entriesNo %></div>
                    <div class="min-cont-desc">entries in total</div>
                </div>
                <div class="cont-h cont-2 cont-shadow cont-middle">
                    <div class="min-cont-desc">User was active...</div>
                    <div class="cont-no"><%- daysActive %></div>
                    <div class="min-cont-desc">days in total</div>
                </div>
                <div class="cont-h cont-2 cont-shadow cont-last">
                    <div class="min-cont-desc">On average, user added...</div>
                    <div class="cont-no"><%- average %></div>
                    <div class="min-cont-desc">entries a day</div>
                </div>
            </div>

            <div class="dash-line-1 dash-line-column">
                <div class="main-emo">
                    <% if(mainEmotions.length == 1) { %>
                        <div class="summary-title">&#8226; Most often occurring emotion:</div>
                    <% } else { %>
                        <div class="summary-title">&#8226; Most often occurring emotions:</div>
                    <% } %>
                </div>

                <ul>
                    <% for (let em of mainEmotions) { %>
                        <li><span class="emo-color"><%- em.emotion %></span> - <%- em.times %> times</li>
                    <% } %>
                </ul>
            </div>

            <div class="dash-line-1 dash-line-column" style="padding-top: 1.5rem">
                <div class="summary-title">&#8226; User's activity in this period:</div>
            </div>

            <div class="line-chart-align">
                <canvas id="activity-chart"></canvas>
            </div>

        </div>

    </div>
<script type="text/javascript" src="/scripts/entries/user-journey.js"></script>
<script>
    $("#reports-element").addClass("active-sidebar-element");
</script>
</body>

</html>