<%- include("../elements/header.ejs") %>

</head>

<body>
    <%- include("../elements/sidebar-specialist.ejs") %>

    <%- include("../elements/topbar-internal.ejs") %>
<div class="main-body">
    <div class="users-page-cont">
        <div class="title-wrapper">
            <div class="title-with-border">
                <div>Manage Assigned Users</div>
                <div class="title-line"></div>
            </div>
        </div>

        <div class="choice-tab">
            <div class="choice-tab-1">
                <a class="linkNoStyle btnNotClicked" href="/dashboard/specialist/users/list">Users List</a>
            </div>
            <div class="choice-tab-2">
                <a class="linkNoStyle btnClicked" href="/dashboard/specialist/users/add">Add User</a>
            </div>
        </div>

        <div class="add-user-wrapper">
            <div class="add-user-container container-shadow">
                <form>
                    <div class="row">
                        <div class="col-lg-12">
                            <label for="userName" class="align-label">Name:</label>
                            <input type="text" class="form-control" id="userName" name="userName" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <label for="userSurname" class="align-label">Surname:</label>
                            <input type="text" class="form-control" id="userSurname" name="userSurname" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="userEmail" class="align-label">Email Address:</label>
                            <input type="email" class="form-control" id="userEmail" name="userEmail" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="userPhone" class="align-label">Phone number:</label>
                            <input type="number" class="form-control" id="userPhone" name="userPhone" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="userPassword" class="align-label">Password:</label>
                            <input type="password" class="form-control" id="userPassword" name="userPassword" required>
                        </div>
                        <div class="col">
                            <label for="userPasswordRepeat" class="align-label">Repeat Password:</label>
                            <input type="password" class="form-control" id="userPasswordRepeat" name="userPasswordRepeat" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="align-label">User's Privileges:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="privileges" id="inlineRadio1" value="Patient" checked>
                                <label class="form-check-label" for="inlineRadio1">Patient</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="privileges" id="inlineRadio2" value="Specialist">
                                <label class="form-check-label" for="inlineRadio2">Specialist</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="privileges" id="inlineRadio3" value="Administrator">
                                <label class="form-check-label" for="inlineRadio3">Centre's Administrator</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div>
                                <small>Please note that each Centre's Administrator has Specialist's privileges</small>
                            </div>
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-lg-6" id="dropDownRow">
                            <label class="form-check-label align-label" for="select-specialist">Assign to:</label>
                            <select class="custom-select" id="select-specialist">
                                <option selected value="0">Choose</option>
                                <% for(let specialist of specialists) { %>
                                    <option value="<%- specialist.id %>"><%- specialist.name + " " + specialist.surname + " (" + specialist.title + ")" %></option>
                                <% } %>
                            </select>
                        </div>

                        <div class="col-lg-6" id="dropDownRow2" style="display:none;">
                            <label class="form-check-label align-label" for="specTitle">Job title:</label>
                            <input type="text" class="form-control" id="specTitle" name="specTitle" required>
                        </div>
                    </div>
                    <div class="row alignnextbtn">
                        <button class="btnNoStyle btnGradBlue" id="submitBtn">Add User</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $("#users-element").addClass("active-sidebar-element");
</script>
<script type="text/javascript" src="/scripts/administrative/manage-users.js"></script>
</body>

</html>