<%- include("../elements/header.ejs") %>

</head>

<body>
    <%- include("../elements/sidebar-specialist.ejs") %>

    <%- include("../elements/topbar-internal.ejs") %>
<div class="main-body">
    <div class="users-page-cont">
        <div class="title-wrapper">
            <div class="title-with-border">
                <div>Edit User's Details</div>
                <div class="title-line"></div>
            </div>
        </div>

        <div class="add-user-wrapper" style="margin-top: 2rem;">
            <div class="add-user-container container-shadow">
                <form method="POST" action="/dashboard/specialist/users/update">
                    <input type="hidden" name="uId" value="<%= user.id %>" />
                    <div class="row">
                        <div class="col-lg-12">
                            <label for="userName">Name:</label>
                            <input type="text" class="form-control" id="userName" name="userName" value="<%= user.name %>" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <label for="userSurname">Surname:</label>
                            <input type="text" class="form-control" id="userSurname" name="userSurname" value="<%= user.surname %>" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="userEmail">Email Address:</label>
                            <input type="email" class="form-control" id="userEmail" name="userEmail" value="<%= user.email %>" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="userPhone">Phone number:</label>
                            <input type="number" class="form-control" id="userPhone" name="userPhone" value="<%= user.telephone %>" required>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col">
                            <label for="userPassword">Password:</label>
                            <input type="password" class="form-control" id="userPassword" name="userPassword" value="<%= user.name %>" required>
                        </div>
                        <div class="col">
                            <label for="userPasswordRepeat">Repeat Password:</label>
                            <input type="password" class="form-control" id="userPasswordRepeat" name="userPasswordRepeat" required>
                        </div>
                    </div> -->
                    <div class="row alignnextbtn">
                        <button type="submit" class="btnNoStyle btnGradBlue" id="editUserBtn">Update User</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $("#users-element").addClass("active-sidebar-element");
</script>
<script type="text/javascript" src="/scripts/administrative/manage-users.js"></script>
</body>

</html>